<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <ion-label>عييت</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab-button">
      <ion-icon name="time"></ion-icon>
      <ion-label>الخدمة</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab-button">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>الإحصائيات</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
